click==8.1.8
python-dotenv==1.0.1
fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
xmltodict==0.13.0
aiofiles==23.2.1
python-Levenshtein==0.25.0
loguru==0.7.2
rapidfuzz==3.6.1
pywebview==4.4.1
requests==2.32.3
